*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins',sans-serif;
}

.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.btn{
    display: inline-block;
    background-color: orangered;
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0px;
}
.btn:hover{
    background-color: gray;
}
.header{
    background:radial-gradient(white,lightcoral);

}
.small-container{
    max-width:1080px  ;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.col-4 p{
    font-size: 14px;
}
.col-4:hover{
    transform: translateY(-5px);
}
.title{
    text-align: center;
    color: grey;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating .fa {
    color: gold;
}
